RewriteEngine On

RewriteBase /reference/
# reference URLs with a trailing slash are interpreted as a directory
RewriteRule ^reference/([a-z].+)/+$ https://github.com/fieldtrip/fieldtrip/blob/release/$1   [R=301,L]
# # reference URLs without a trailing slash are interpreted as a MATLAB file
RewriteRule ^reference/([a-z].+)$   https://github.com/fieldtrip/fieldtrip/blob/release/$1.m [R=301,L]
