.highlight {
  margin-bottom: 15px;
  padding: 4px 12px;
  background-color: #eeeeee;
  border-left: 6px solid #eeeeee;
}

.exercise  {
    margin-bottom: 15px;
    padding: 4px 12px;
    background-color: #eeeeff;
    border-left: 6px solid #ddddee;
}

.note  {
    margin-bottom: 15px;
    padding: 4px 12px;
    background-color: #eeeeff;
    border-left: 6px solid #ddddee;
}

.important {
    margin-bottom: 15px;
    padding: 4px 12px;
    background-color: #ffffcc;
    border-left: 6px solid #eeeebb;
}

.tip {
    margin-bottom: 15px;
    padding: 4px 12px;
    background-color: #deffde;
    border-left: 6px solid #cdeecd;
}

.warning {
    margin-bottom: 15px;
    padding: 4px 12px;
    background-color: #ffdede;
    border-left: 6px solid #eecdcd;
}
