pre.highlight > button {
  opacity: 0;
  position: absolute;
  right: 5%;
}

pre.highlight:hover > button {
  opacity: 1;
}

pre.highlight > button:active,
pre.highlight > button:focus {
  opacity: 1;
}
