<!DOCTYPE html>
<html lang="en">
  {% include head %}
  {% include favicon %}
  {% include google-analytics %}
  <body>
    {% include navigation %}

    <div class="container">
     <div class="row">

        <div class="col-sm-1">
          {% include left %}
        </div>
        <div class="col-sm-8 main-page-content">
          {% include tags %}
          {{ content }}
        </div>
        <div class="col-sm-3">
          {% include right %}
        </div>
      </div>
    </div>

    {% include google-search %}
    {% include footer %}
    {% include cookie-banner %}
  </body>
</html>
