<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head %}
    {% include favicon %}
    {% include plausible %}
    {% seo %}
  </head>

  <body>
    {% include navigation %}

    <div class="container">
     <div class="row">

        <div class="col-sm-1">
          {% include left %}
        </div>
        <div class="col-sm-8 main-page-content">
          {% include backtrace %}
          {{ content }}
        </div>
        <div class="col-sm-3">
          {% include right %}
        </div>
      </div>
    </div>

    {% include footer %}
  </body>
</html>
